<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>分组1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>我是一个输入框</string>
			<key>Key</key>
			<string>setting-tf</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>密码</string>
			<key>Key</key>
			<string>setting-pwd</string>
			<key>IsSecure</key>
			<true/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>多值</string>
			<key>Key</key>
			<string>setting-mv</string>
			<key>Titles</key>
			<array>
				<string>英语</string>
				<string>法语</string>
				<string>俄语</string>
				<string>汉语</string>
				<string>葡萄牙语</string>
			</array>
			<key>Values</key>
			<array>
				<string>英语-v</string>
				<string>法语-v</string>
				<string>俄语-v</string>
				<string>汉语-v</string>
				<string>葡萄牙语-v</string>
			</array>
			<key>DefaultValue</key>
			<string>英语-v</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>这是一个开关</string>
			<key>Key</key>
			<string>setting-switch</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>分组2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>setting-slider</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>10</integer>
			<key>MinimumValueImage</key>
			<string>xxxx-min</string>
			<key>MaximumValueImage</key>
			<string>xxxx-max</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>分组3</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>更多设置</string>
			<key>File</key>
			<string>More</string>
		</dict>
	</array>
</dict>
</plist>
